<h1 align="center">Edit Student Details </h1></br>
<div align="center">
  <%=render 'form' %></div>
</div>
<div align="right">
<%= link_to 'cancle and return to articles listing',students_path %>
</div>