<p align="right" style="margin-right: 10px; color: red" >fields marked (*) are mandatory</p>

<h1 align="center"><strong>Add New Student</strong></h1></br>
<div align="center">
<%= render 'form' %></br>

    <%#= link_to 'return to student listing',students_path  %>
</div>